# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# dotenv environment files
.env

# VS Code settings
.vscode/

# Alembic
alembic/versions/*.pyc
alembic/__pycache__/

# SQLite (якщо є)
*.sqlite3

# Logs
*.log

# Docker
*.pid

# Pytest cache
.cache/
.pytest_cache/

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Coverage
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml

# Test results
test-results/

# Cloudinary tmp (якщо зберігаєш тимчасово)
cloudinary_temp/

# Build
build/
dist/
*.egg-info/
*.egg

# Python packaging
*.whl

# App artifacts
*.app

# Editor swap/backup files
*~
*.swp
*.bak
*.tmp
